 

 /* Importación de Fuentes */



 /* Fuente Light */
  @font-face {
  font-family: 'Gob_CL';
  src: url('../fonts/gobCL_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
 }
  /* Fuente Regular */
 @font-face {
  font-family: 'Gob_CL';
  src: url('../fonts/gobCL_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
 }
 /* Fuente Bold */
  @font-face {
  font-family: 'Gob_CL';
  src: url('../fonts/gobCL_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
 }
 /* Fuente Heavy */
  @font-face {
  font-family: 'Gob_CL';
  src: url('../fonts/gobCL_Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
 }
 
 
 /* Reset y básicos */
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font-family: 'Gob_CL' ,sans-serif; 
    }

   

    nav { 
      display: flex; 
      padding: 0.2rem 5rem 0.2rem 1rem; 
      align-items: center; 
      justify-content: 
      flex-end;
      background: linear-gradient(
        90deg,
        #2e6a6a 0%,
        #8fa3af 35%,
        #e2a67b 75%,
        #d78b6c 100%
      );
      position: relative;       /* o `sticky` si quieres que se pegue al hacer scroll */
      z-index: 100;
      margin-top: 3rem;         /* tu espacio superior */
      width: 100%;
    }
    

    /* Estilo de los enlaces principales */
    nav > a,
      nav > .dropdown > a {
      color: #ecf0f1;
      text-decoration: none;
      margin-right: 2rem;
      position: relative;
      padding: 15px 20px;
      font-size: 18px;
      text-transform: uppercase;
    }
    
    nav a:not(:last-child)::after {
      content: "|";
      color: rgba(255,255,255,0.6); /* tono suave */
      position: absolute;
      right: -0.75rem;             /* lo sitúa justo en el margen */
      top: 50%;
      transform: translateY(-50%);
    }


    nav > a:hover,
    nav > .dropdown:hover > a {
      color: #353535;
      background-color: #ffffff7b;
      border-radius: 15px;

    }

/* ---------------- Dropdown 1 -----------------*/

    /* Contenedor dropdown */
    .dropdown { position: relative; }

    /* Submenú oculto */
    .dropdown .submenu1 {
      display: none;
      position: absolute;
      top: 172%;
      left: -22px;
      background: #ffffff;
      /* border-radius: 4px; */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      list-style: none;
      min-width: 168px;
      z-index: 100;
      padding: 10px 0px;
    }
    .dropdown .submenu1 li a {
      display: block;
      padding: 0.5rem 1rem;
      color: #2c3e50;
      text-decoration: none;
      font-family: 'Gob_CL' ,sans-serif;
      text-transform: uppercase;
    }
    .dropdown .submenu1 li a:hover {
      font-weight: 600;
      color: #2c3e50;
    }

    /* Mostrar submenu on hover */
    .dropdown:hover .submenu1 {
      display: block;
    }


  /* ---------------- Dropdown 2 -----------------*/

    /* Submenú oculto */
    .dropdown .submenu2 {
      display: none;
      position: absolute;
      top: 172%;
      left: -22px;
      background: #ffffff;
      /* border-radius: 4px; */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      list-style: none;
      min-width: 150px; 
      z-index: 100;
      padding: 10px 0px;
    }
    .dropdown .submenu2 li a {
      display: block;
      padding: 0.5rem 1rem;
      color: #2c3e50;
      text-decoration: none;
      font-family: 'Gob_CL' ,sans-serif;
      text-transform: uppercase;
    }
    .dropdown .submenu2 li a:hover {
      font-weight: 600;
      color: #2c3e50;
    }

    /* Mostrar submenu on hover */
    .dropdown:hover .submenu2 {
      display: block;
    }

/* ---------------- Dropdown 3 -----------------*/

    /* Submenú oculto */
    .dropdown .submenu3 {
      display: none;
      position: absolute;
      top: 172%;
      left: -22px;
      background: #ffffff;
      /* border-radius: 4px; */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      list-style: none;
      min-width: 180px; 
      z-index: 100;
      padding: 10px 0px;  
    }
    .dropdown .submenu3 li a {
      display: block;
      padding: 0.5rem 1rem;
      color: #2c3e50;
      text-decoration: none;
      font-family: 'Gob_CL' ,sans-serif;
      text-transform: uppercase;
    }
    .dropdown .submenu3 li a:hover {
      font-weight: 600;
      color: #2c3e50;
    }

    /* Mostrar submenu on hover */
    .dropdown:hover .submenu3 {
      display: block;
    }


    /* Boton intranet */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gob_CL', sans-serif;
  font-size: 18px;
  font-weight: 300  ;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: uppercase;
}

.button-1:hover,
.button-1:focus {
  background-color: #366e6f;
}

.fa-user{
  padding: 0 5px 0 0;
}



/* --------------------- Opciones para todos los section -------------------------- */

section {
  position: relative;        /* para que el z-index funcione */
  z-index: 1;                /* < 100, queda detrás del nav */
  min-height: 100vh;         /* ocupa al menos toda la pantalla */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}




/* --------------------- Section 1 -------------------------- */

.section-1{
  min-height: 100.5vh;
  margin-top: -6.5rem;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.section-1 h1 {
  color: white;
  font-size: 6rem;
}

.section-1 p{
  color: white;
  font-size: 3rem;
}

.contenedor-s1{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 1rem;

  margin-top: 4rem;
}

.contenedor-s1 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

.contenedor-s1 i{
  color: blue;
  padding-right: 6px;
}
